.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
  
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
    }
  
    .navbar-nav {
      display: flex;
      align-items: center;
  
      .nav-item {
        margin-left: 1rem;
  
        .nav-link {
          color: #fff;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  